[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
numpy = "*"
gym-mo = {editable = true, git = "https://github.com/johan-kallstrom/gym-mo"}

[dev-packages]

[requires]
python_version = "3.9"
